Repository scarf005/Marisa, pull requests merged in 2023-04, with the labels that each got.

#176 chore(github): add `Japanese` field to L10n issue form
  .github/ISSUE_TEMPLATE/localization.yml
Labels: build

#181 fix(L10n): translate keywords (JPN)
  src/main/resources/localization/JPN/keywords.json
Labels: localization

#183 fix(L10n): translate powers (JPN)
  src/main/resources/localization/JPN/powers.json
Labels: localization

#189 fix(L10n): change translation about "Wraith"
  src/main/resources/localization/JPN/keywords.json
Labels: localization

#188 fix(L10n): change translation about "Wraith"
  src/main/resources/localization/JPN/cards.json
Labels: localization

#190 fix(L10n): change JP translate about "Wraith(Power)"
  src/main/resources/localization/JPN/powers.json
Labels: localization

#191 docs(L10n): japanese semver documentation
  .github/pull_request_template.md
  docs/semver.ja.md
  docs/semver.ko.md
  docs/semver.md
Labels: docs

#194 fix(L10n): fix line breaks not working (JPN)
  src/main/resources/localization/JPN/cards.json
Labels: localization

#195 fix(L10n): Correct mistranslation of `Dark Spark` (JPN)
  src/main/resources/localization/JPN/cards.json
Labels: localization

#196 build: validate hardlinked mod files
  .github/labeler.yml
  build.gradle.kts
  deno.jsonc
  deno.lock
  link.ts
  releases.py
  scripts/link/hardlink.ts
  scripts/link/inode.ts
  scripts/link/logger.ts
  scripts/link/mod.ts
  scripts/link/noop.ts
  scripts/paths.ts
  src/main/resources/localization/editVariables.ts
Labels: localization, build

#200 docs(README): video example for amplify UI update
  README.md
  docs/workshop.bbcode
Labels: docs

#205 fix(L10n): `meteonic` -> `meteoric`
  .github/semantic.yml
  src/main/kotlin/marisa/cards/MeteoricShower.kt
  src/main/resources/img/cards/meteoric.png
  src/main/resources/img/cards/meteoric_p.png
  src/main/resources/localization/ENG/cards.json
Labels: localization, build
